@import '../../styles/libstyle/index.styl'

.dashboard
    margin 0 1rem 1rem

.tabs
    margin-bottom 1rem

.cardContent
    display grid
    grid-template-columns 100%


@media $md
    .dashboard
        margin 0 1.5rem 1rem

    .cardContent
        grid-template-columns 30% 70%


@media $lg
    .dashboard
        margin 0 3rem 1rem
