@import '../../styles/libstyle/index.styl'

.addKeyword 
    padding .5rem
    height 100%
    width 100%
    min-height 48px
    display flex
    align-items center
    justify-content center

    .button
        min-height: 48px
        height 100%

@media $md
    .addKeyword 
        width 33%

@media $lg
    .addKeyword 
        width 100%