@import '../../styles/libstyle/index.styl'
    
.keyword 
    padding .5rem
    height 100%
    width 100%
    display flex
    align-items center
    justify-content center

    label 
        text-overflow ellipsis !important
        white-space nowrap
        overflow hidden
        width 100%

    .iconButton
        margin-left .5rem
        box-shadow none

@media $md
    .keyword 
        width 33%

@media $lg
    .keyword 
        width 100%
        
