@import '../../styles/libstyle/index.styl'

point-color(color)
    min-height 20px
    min-width 20px
    border-radius 50%
    display inline-block
    margin-right 1rem
    background  color


.pointColor_0
    point-color($datviz-color-1)

.pointColor_1
    point-color($datviz-color-2)

.pointColor_2
    point-color($datviz-color-3)

.pointColor_3
    point-color($datviz-color-4)

.pointColor_4
    point-color($datviz-color-5)
    