@import "./libstyle/index.styl"
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Lato&display=swap')    

body
    font-family 'Montserrat', sans-serif

.container
    max-width 1440px
    margin auto
    display flex
    flex-direction column
    
input 
    remove-outline-focus()
    font-family 'Lato', sans-serif
    
button
    remove-outline-focus()
    box-shadow 2px 2px 5px 0px rgba(0,0,0,0.2)

        